.nav{
    background: darkcyan;
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    color: white;
    height: 100vh;
  }
  a{
    color: white;
    text-decoration: none;
    padding-bottom: 30px;
    padding-left: 10px;
    font-size: 20px;

  }
  a:hover {
    color: white;
    background: cadetblue;
}
.home{
    color: brown;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    padding: 200px 0;
}